<div class="container">
  <div class="container-fluid text-center">
    <ngb-datepicker #dp [(ngModel)]="myDate" (select)="selectDate()"></ngb-datepicker>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let apod of apods">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{apod.title}}</h4>
          <div class="container-fluid text-center">
            <img [src]="apod.url" width="100%" alt="" *ngIf="apod.media_type==='image'">
            <youtube-player [videoId]="id" [playerVars]="playerVars" *ngIf="apod.media_type==='video'">
            </youtube-player>

          </div>
          <p class="lead">{{apod.date}}</p>
          <hr class="my-2">
          <p class="card-text">{{apod.explanation}}</p>

        </div>
      </div>
    </div>
  </div>

</div>
<p>
  {{result | json}}
</p>